.button-wrapper {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: #838aaf;
  color: #000000;
  flex: 1;
  outline: 1px solid #ffffff;
}

.operator {
  background-color: #cf9090;
  color: #000000;
}

.button-wrapper:hover{
  background-color: #ececec;
}